<h1>Bienvenido admin</h1>

<button id="logoutBtn">Cerrar sesion</button>

<script>
    const registerBtn = document.getElementById('logoutBtn');

    registerBtn.addEventListener('click', function() {
        window.location.href = '/';
    });
</script>