<div id="sectionForm">
    <h1>Formulario para agregar productos</h1>

    <form>
         <input type="text" id="title" placeholder="Title"/>
         <br><br>
         <input type="text" id="description" placeholder="Description"/>
         <br><br>
         <input type="text" id="code" placeholder="Code"/>
         <br><br>
         <input type="number" id="stock" placeholder="Stock"/>
         <br><br>
         <input type="text" id="category" placeholder="Category"/>
         <br><br>
         <input type="number" id="price" placeholder="Price" />
         <br><br>
         <input type="text" id="thumbnail" placeholder="Thumbnail"/>
         <br><br>
         <input type="text" id="status" placeholder="Status"/>
         <br><br>
        <button id="addButton" onclick="addProduct(event)">Add Product</button>
     </form>
        <hr>
</div>
<div id="productsList"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>