<section>
    <h1>Registro</h1>
    <form action="api/sessions/register" method="POST">
        <input type="text" name="first_name" placeholder="first_name"> <br><br>
        <input type="text" name="last_name" placeholder="last_name"> <br><br>
        <input type="Date" name="birthdate" placeholder="birthdate"> <br><br>
        <input type="text" name="email" placeholder="email"> <br><br>
        <input type="text" name="password" placeholder="password"> <br><br>
        <button>Enviar</button>
    </form>
</section>